---
title: Home
layout: old
---

<div class="ui inverted doubling page grid relaxed about segment">
    <div class="ten wide column">
        <div class="ui large header">
            <h1 class="ui inverted">Damian Mullinsio</h1>
            <p class="large">International software engineer @ Just Eat. Cranking out code in C#, JavaScript, CSS &amp; others, always looking to learn more!</p>
        </div>
    </div>
    <div class="right floated two wide column social">
        <div class="ui fluid vertical icon buttons">
            <a class="ui button custom" href="http://lowflyingowls.co.uk">
                <i class="large globe icon"></i>
            </a>
            <a class="ui button custom" href="https://github.com/djmelonz">
                <i class="large github icon"></i>
            </a>
            <a class="ui linkedin button" href="http://www.linkedin.com/in/damianmullins">
                <i class="large linkedin icon"></i>
            </a>
            <a class="ui twitter button" href="https://twitter.com/DJMelonz">
                <i class="large twitter icon"></i>
            </a>
            <a class="ui google plus button" href="https://plus.google.com/+DamianMullins">
                <i class="large google plus icon"></i>
            </a>
        </div>
    </div>
</div>