---
layout: default

title: Home
---

{{#markdown}}
## Posts
{{/markdown}}

{{#contents}}
    {{!#withSort items 'data.posted'}}
    {{!log this.data.posted}}
    {{#each items}}
        {{#unless data.draft}}
            <article>
                <h1>{{data.title}}</h1>
                <p>{{data.description}}</p>
                <time>{{data.posted}}</time>
                
                <p>
                {{#each data.categories}}
                    <span>{{this}}</span>
                {{/each}}
                </p>
            </article>
        {{/unless}}
        
    {{/each}}
	{{!/withSort}}
{{/contents}}
